#navbar {
	display:flex; 
	background-color:pink;
	justify-content:space-around;
	/* justify-content:space-evenly;*/
}

a {
	text-decoration:none;
	color:red;
}

li {
	list-style-type:none;
	display:inline;
}